name: Preflight

on: [push]

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: debug

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./actions/build
        env:
          WORKLOAD_IDENTITY_POOL: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
